<div class="container">
    <div class="row">
        
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://picsum.photos/300
        "
          class="d-block w-80 slider-img"
          
          alt="First slide"
          
        />
        <div class="carousel-caption d-none d-md-block">
            <h5>Imagen Uno</h5>
            <p>Descripcion</p>
          </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/400
        "
          class="d-block w-80 slider-img"
          alt="Second slide"
        />
        <div class="carousel-caption d-none d-md-block">
            <h5>imagen dos</h5>
            <p>descripcion</p>
          </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://picsum.photos/500
        "
          class="d-block w-80 slider-img"
          alt="Third slide"
        />
        <div class="carousel-caption d-none d-md-block">
            <h5>imagen tres</h5>
            <p>...</p>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"><b>Next</b></span>
    </button>
    
  </div>
  
</div>
</div>