.slider-img{
    height: 50vh !important;
}

.container {
    position:relative;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 0%;
}

.carousel-inner{
    border-radius: 5px;
    border: 2px solid white;
}

@media (max-width: 768px) {
    .slider-img{
        height: 40vh !important;
    }
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

   p{
    font-weight: 100  ;
    text-align: center;
    font-style: oblique;
    color: #cb6ce6;
   }

   a{
    text-decoration: none;
   }

   

   p:hover{
    color: #ffc107;
   }