<div class="row">
  <h1>PROYECTOS REALIZADOS</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-12 col-lg-12 one">
      <h2>Task List Reminder ⏰</h2>
      <p>
        Lista de tareas editable con recordatorios y base de datos simulada con
        JSON-server.
      </p>
      <p>Desarrollada con TypeScript, HTML, CSS y Angular.</p>
    </div>
    <!-- <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 two">
      <img src="../../../assets/TASK.png" alt="" class="img-fluid" id="task" />
    </div> -->
    
  </div>
</div>
