<div class="container">
    <div class="modal">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">

        </div>

        <div class="modal col-xs-12 col-sm-12 col-md-8 col-lg-6">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam incidunt quos quis. Ipsa
                        repellendus laboriosam labore, odio cupiditate modi repudiandae, officia, optio culpa reiciendis
                        ullam perferendis quis maxime ipsam aspernatur.</h3>
                    <button (click)="closeModal()">X</button>
                </div>
            </div>
        </div>
    </div>
</div>