<div class="row">
  <div class="container">
    <div class="redes d-none d-md-block d-lg-block">
      <a href="https://linkedin.com/in/dalmiro-rivero-06ab82172/">
        <img src="../../../assets/IN.png" alt="linkedin" id="in" />
      </a>
      <a href="https://github.com/dalmirorivero">
        <img src="../../../assets/GH.png" alt="github" id="gh" />
      </a>
    </div>
    <div class="login">
      <button type="button" class="btn btn-outline-warning" (click)="login()">
        Iniciar sesion
      </button>
      <img src="../../../assets/AP.png" alt="argentina programa" id="ap" />
    </div>
  </div>
</div>
