<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <img
      src="../../../assets/FP.jpg"
      alt="Foto de perfil"
      class="img-fluid"
      id="pf"
    />
    <h1>Dalmiro Rivero</h1>
    <h2>Full Stack Developer Jr.</h2>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 bio">
    <span>
      <p>Ey! Gracias por visitar mi portfolio 👾</p>
      <p>
        Mi nombre es Dalmiro, tengo 26 años y vivo en la Ciudad Autonoma de
        Buenos Aires.
      </p>
      <p>Acompañame a aprender programacion con Argentina Programa!</p>
    </span>
  </div>
</div>
