.row {
  padding: 20px;
  margin-top: 25px;
}

.container {
  width: auto;
}

.one,
.two {
  display: inline-block;
  text-align: justify;
}

#task {
  border: 10px solid #ffc107;
  border-radius: 2%;
  rotate: 5deg;
  margin-top: 25px;
}

p {
  font-weight: lighter;
  font-style: oblique;
  color: #cb6ce6;
  text-align: center;
  line-height: 2px;
  margin-top: 20px;
}

@media (max-width: 917px) {
  #task {
    max-width: 60%;
    margin: auto;
    padding: auto;
    rotate: 0deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-weight: lighter;
    font-style: oblique;
    color: #cb6ce6;
    text-align: center;
    line-height: normal;
  }
}

@media (max-width: 552px) {
  #task {
    max-width: 60%;
    margin: auto;
    padding: auto;
    rotate: 0deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-weight: lighter;
    font-style: oblique;
    color: #cb6ce6;
    text-align: center;
    line-height: normal;
  }
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: "WC Mano Negra Bta";
  text-align: center;
}

h1:hover {
  color: #ffc107;
}

h2 {
  color: white;
  font-family: "Stitch", "Staatliches";
  text-align: center;
}
