<app-redes></app-redes>
<section class="vh-100" style="background-color: black">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem" *ngIf="educacion">
          <div class="card-body p-5">
            <h3 class="mb-5">EDITAR EDUCACION</h3>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
              <div class="form-group">
                <label for="nombreE">Institucion</label>
                <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE"
                  required />
              </div>
              <br>
              <div class="form-group">
                <label for="nombreE">Descripcion</label>
                <input type="text" class="form-control" id="descripcionE" name="descripcionE"
                  [(ngModel)]="educacion.descripcionE" required />
              </div>

              <hr class="my-4" />
              <div class="d-flex justify-content-center">
                <button class="btn btn-warning">Actualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>