<div class="row">
  <div class="col-md-12 col-lg-1 d-none d-md-block d-lg-block"></div>
  <div class="col-xs-10 col sm-10 col-md-12 col-lg-5" id="barra">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 100%"
      ></div>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 25%"
      ></div>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 50%"
        aria-valuemax="100"
      ></div>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 75%"
      ></div>
    </div>
  </div>

  <div class="col-xs-12 col sm-12 col-md-12 col-lg-5" id="barrados">
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 25%"
      ></div>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 25%"
      ></div>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 50%"
      ></div>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 75%"
      ></div>
    </div>
  </div>
  <div class="col-md-12 col-lg-1 d-none d-md-block d-lg-block"></div>
</div>
