h3 {
  font-family: "WC Mano Negra Bta", sans-serif;
  font-weight: bolder;
  font-size: 50px;
  -webkit-text-stroke: 2px black;
  color: #ffc107;
  margin: 20px;
}

h3:hover {
  -webkit-text-stroke: 2px black;
  color: #cb6ce6;
}

label {
  font-family: "Stitch", "Staatliches";
  font-size: 23px;
  
}

button {
  font-family: "Stitch", "Staatliches";
  font-size: 23px;
  border: 1px solid black;
  width: 350px;
}

button:hover {
  background-color: #cb6ce6;
  border: 1px solid black;
}

@media (max-width: 768px) {
  button {
    width: 250px;
  }
}

@media (max-width: 525px) {
  button {
    width: 250px;
  }
}

.card{
  border: 2px solid #ffc107;
  box-shadow: 0px 0px 20px 0px #cb6ce6;
}

