<section class="vh-100" style="background-color: black">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">INICIO DE SESION</h3>

            <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
              <div class="form-outline mb-4">
                <input
                  type="user"
                  id="nombreUsuario"
                  name="nombreUsuario"
                  class="form-control form-control-lg"
                  [(ngModel)]="nombreUsuario"
                  name="nombreUsuario"
                  required
                />
                <label class="form-label" for="nombreUsuario"
                  >NOMBRE DE USUARIO</label
                >
              </div>

              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control form-control-lg"
                  [(ngModel)]="password"
                  name="password"
                  required
                />
                <label class="form-label" for="password">CONTRASEÑA</label>
              </div>

              <!-- Checkbox -->
              <hr class="my-4" />
              <button class="btn btn-warning" type="submit">INGRESAR</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
