<div class="row">
  <div class="col-md-1 col-lg-1"></div>

  <div class="col-xs-12 col sm-12 col-md-5 col-lg-5">
    <h1>EXPERIENCIA</h1>
    <ol>
      <li>
        <h2>GDSnet.</h2>
        <h3>(2017 - 2020)</h3>
      </li>
      <p>Consultora de mercado - Operador de campo en auditoria externa.</p>
      <li>
        <h2>Mas Natural</h2>
        <h3>(2020 - Act.)</h3>
      </li>
      <p>Productos de limpieza biodegradables - Gestor de logistica y redes.</p>
    </ol>
  </div>

  <div class="col-xs-12 col sm-12 col-md-5 col-lg-5">
    <h1>EDUCACION</h1>
    <ol>
      <li>
        <h2>Escuela de Comercio N30</h2>
        <h3>(EGRESO 2013)</h3>
      </li>
      <p>
        Dr. E. A. Gascon - Perito Mercantil con orientacion contable e
        impositiva.
      </p>
      <li>
        <h2>C.E.C.I.E. N18</h2>
        <h3>(EGRESO 2010)</h3>
      </li>
      <p>Centros Educativos Complementario de Idiomas Extranjeros - Ingles.</p>
    </ol>
  </div>

  <div class="col-md-1 col-lg-1"></div>
</div>
