<div class="row">
  <div class="col-md-12 col-lg-1 d-none d-md-block d-lg-block"></div>
  <div class="col-xs-10 col sm-10 col-md-12 col-lg-5" id="barra">
    <h1>HARD SKILLS</h1>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 50%"
      >
        <span>50%</span>
      </div>
      <p>HTML/CSS/JS</p>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 25%"
      >
        <span>25%</span>
      </div>
      <p>TS/Angular/Bootstrap</p>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 25%"
      >
        <span>25%</span>
      </div>
      <P>Java/Spring Boot</P>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 25%"
      >
        <span>25%</span>
      </div>
      <P>MySQL</P>
    </div>
  </div>

  <div class="col-xs-12 col sm-12 col-md-12 col-lg-5" id="barrados">
    <h1>SOFT SKILLS</h1>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 65%"
      >
        <span>65%</span>
      </div>
      <p>Pensamiento critico</p>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 58%"
      >
        <span>60%</span>
      </div>
      <p>Resolucion de problemas</p>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 58%"
      >
        <span>60%</span>
      </div>
      <p>Predisposicion/Adaptabilidad</p>
    </div>
    <div class="progress">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
        role="progressbar"
        style="width: 75%"
      >
        <span>75%</span>
      </div>
      <p>Colaboracion</p>
    </div>
  </div>
  <div class="col-md-12 col-lg-1 d-none d-md-block d-lg-block"></div>
</div>
