.progress {
  padding: 0px;
  width: 425px;
  margin: 10px;
}

.progress-bar-animated {
  -webkit-animation: 1s linear infinite progress-bar-stripes;
  animation: 1s linear infinite progress-bar-stripes;
}

@media (max-width: 768px) {
  .row {
    padding: 0px;
    margin: 0px;
  }
  .progress {
    padding: 0px;
    width: 300px;
    margin-top: 5px;
  }

  #barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #barrados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .row {
    padding: 0px;
    margin: 0px;
  }
  .progress {
    padding: 0px;
    width: 380px;
    margin-top: 5px;
  }

  #barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #barrados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#barra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#barrados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: "WC Mano Negra Bta";
  text-align: center;
}

h1:hover {
  color: #ffc107;
}

.row {
  margin-top: 25px;
}

span {
  font-style: oblique;
  color: black;
  font-weight: bold;
}

p {
  font-weight: bold;
  line-height: 18px;
  color: #3c3c3c;
  font-family: "Stitch", "Staatliches";
  font-size: 15px;
  margin-left: auto;
  margin-right: 1%;
}
