<div class="row">
  <div class="col-md-12 col-lg-1 d-none d-md-block d-lg-block"></div>
  <div class="col-xs-10 col sm-10 col-md-12 col-lg-5" id="barra">
    <h1>HARD SKILLS</h1>

    <tbody>
      <tr *ngFor="let Skill of skill">
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
            role="progressbar"
            [style.width]="Skill.porcentaje + '%'"
          >
            <span>{{ Skill.porcentaje + "%" }}</span>
          </div>

          <p>{{ Skill.descripcion }}</p>
        </div>

        <td *ngIf="isLogged">
          <button
            class="btn"
            routerLink="/edithab/{{ Skill.id }}"
            *ngIf="isLogged"
          >
            <i class="bi bi-pen" style="color: #ffc107"></i>
          </button>
        </td>

        <td *ngIf="isLogged">
          <button class="btn" (click)="delete(Skill.id)">
            <i class="bi bi-trash3" style="color: #dc3545"></i>
          </button>
        </td>
      </tr>
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevahab"
        *ngIf="isLogged"
        id="add"
      >
        <i class="bi bi-plus-circle"></i> Nueva Habilidad
      </button>
    </tbody>
  </div>

  <div class="col-xs-12 col sm-12 col-md-12 col-lg-5" id="barrados">
    <h1>SOFT SKILLS</h1>
    <tbody>
      <tr *ngFor="let Soft of soft">
        <div class="progress">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
            role="progressbar"
            [style.width]="Soft.sporcentaje + '%'"
          >
            <span>{{ Soft.sporcentaje + "%" }}</span>
          </div>

          <p>{{ Soft.sdescripcion }}</p>
        </div>

        <td *ngIf="isLogged">
          <button class="btn" routerLink="/editshab/{{ Soft.id }}">
            <i class="bi bi-pen" style="color: #ffc107"></i>
          </button>
        </td>

        <td *ngIf="isLogged">
          <button class="btn" (click)="eliminar(Soft.id)">
            <i class="bi bi-trash3" style="color: #dc3545"></i>
          </button>
        </td>
      </tr>
      <button
        type="button"
        class="btn btn-dark"
        routerLink="/nuevashab"
        *ngIf="isLogged"
        id="add"
      >
        <i class="bi bi-plus-circle"></i> Nueva Habilidad
      </button>
    </tbody>
    <div id="add"></div>
  </div>
  <div class="col-md-12 col-lg-1 d-none d-md-block d-lg-block"></div>
</div>
