<div class="container" *ngIf="perfil">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="perfil">Ingrese nombre del perfil</label>
          <input
            type="text"
            class="form-control"
            id="perfil"
            name="perfil"
            [(ngModel)]="perfil.perfil"
            required
          />
        </div>
        <div class="form-group">
          <label for="descripcion">Ingrese la descripcion</label>
          <input
            type="text"
            class="form-control"
            id="descripcion"
            name="descripcion"
            [(ngModel)]="perfil.descripcion"
            required
          />
        </div>
        <div class="form-group">
          <label for="img">Ingrese el archivo</label>
          <input
            type="file"
            class="form-control"
            id="img"
            name="img"
            (change)="uploadImage($event)"
            accept=".jpg, .jpeg, .png"
            required
          />
        </div>
        <br />
        <button class="btn btn-primary">Actualizar</button>
      </form>
    </div>
  </div>
</div>
