<div class="row">
  <div class="col-md-1 col-lg-1"></div>

  <div class="col-xs-12 col sm-12 col-md-5 col-lg-5">
    <h1>EXPERIENCIA</h1>

    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td>
            <h2>{{ Experiencia.nombreE }}</h2>
          </td>
          <td>
            <p>{{ Experiencia.descripcionE }}</p>
          </td>

          <td *ngIf="isLogged">
            <button class="btn" routerLink="/editexp/{{ Experiencia.id }}">
              <i class="bi bi-pen" style="color: #ffc107"></i>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn" (click)="delete(Experiencia.id)">
              <i class="bi bi-trash3" style="color: #dc3545"></i>
            </button>

          </td>

        </tr>


      </tbody>

    </table>
    <hr class="my-4" style="color:beige" />
    <div id="btn2">
      <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
        <i class="bi bi-plus-circle"></i>
        Nueva Experiencia
      </button>
    </div>
  </div>

  <div class="col-xs-12 col sm-12 col-md-5 col-lg-5">
    <h1>FORMACION</h1>

    <table class="table">
      <tbody>
        <tr *ngFor="let Educacion of educacion">
          <td>
            <h2>{{ Educacion.nombreE }}</h2>
          </td>
          <td>
            <p>{{ Educacion.descripcionE }}</p>
          </td>
          <td *ngIf="isLogged">
            <button class="btn" routerLink="/editedu/{{ Educacion.id }}">
              <i class="bi bi-pen" style="color: #ffc107"></i>
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn" (click)="eliminar(Educacion.id)">
              <i class="bi bi-trash3" style="color: #dc3545"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr class="my-4" style="color:beige" />
    <div id="btn">
      <button type="button" class="btn btn-dark" routerLink="/nuevaformacion" *ngIf="isLogged">
        <i class="bi bi-plus-circle"></i>
        Nueva Formacion
      </button>
    </div>
    <div class="col-md-1 col-lg-1"></div>
  </div>
</div>