<div class="row">
  <div class="col-md-1 col-lg-1"></div>

  <div class="col-xs-12 col sm-12 col-md-5 col-lg-5">
    <h1>EXPERIENCIA</h1>
    <button
      type="button"
      class="btn btn-outline-warning"
      routerLink="/nuevaexp"
      *ngIf="isLogged"
    >
      Nueva Experiencia
    </button>
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td>
            <h2>{{ Experiencia.nombreE }}</h2>
          </td>
          <td>
            <p>{{ Experiencia.descripcionE }}</p>
          </td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-outline-warning"
              routerLink="/editexp/{{ Experiencia.id }}"
            >
              <i class="bi bi-pen"></i> EDITAR
            </button>
          </td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-outline-danger"
              (click)="delete(Experiencia.id)"
            >
              <i class="bi bi-trash3"></i> BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12 col sm-12 col-md-5 col-lg-5">
    <h1>EDUCACION</h1>
    <ol>
      <li>
        <h2>Comercial N30</h2>
        <h3>(EGRESO 2013)</h3>
      </li>
      <p>
        Dr. E. A. Gascon - Perito Mercantil con orientacion contable e
        impositiva.
      </p>
      <li>
        <h2>C.E.C.I.E. N18</h2>
        <h3>(EGRESO 2010)</h3>
      </li>
      <p>Centros Educativos Complementario de Idiomas Extranjeros - Ingles.</p>
    </ol>
  </div>

  <div class="col-md-1 col-lg-1"></div>
</div>
