<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

    <tbody *ngIf="perfil">
      <tr>
        <div>
          <div>
            <!-- <img src="{{ perfil.img }}" class= "img-fluid" id="pf"> -->
            <img src="../../../assets/FP.jpg" class="img-fluid" id="pf">
          </div>
          <div></div>
          <div>
            <h1>
              {{ perfil.perfil }}
            </h1>
            <h2>{{ perfil.descripcion }}</h2>
            <td *ngIf="isLogged">
              <button class="btn btn-dark" routerLink="/editpr/{{ perfil.id }}">
                <i class="bi bi-pen" style="font-size: 15px; color: #ffc107;"></i>
                Editar perfil
              </button>
            </td>
          </div>
        </div>
      </tr>
    </tbody>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 bio" *ngFor="let persona of persona">

    <span>
      <p>Ey! Gracias por visitar mi portfolio 👾</p>

      <p>{{ persona.bio }}</p>

      <p>Acompañame a aprender programacion con Argentina Programa!</p>
    </span>


    <td *ngIf="isLogged">
    <button  type="button" class="btn btn-dark" routerLink="/editbio/{{ persona.id }}" *ngIf="isLogged">
      <i class="bi bi-pen" style="font-size: 15px; color: #ffc107;"></i> Editar informacion
    </button>
    </td>
  </div>


</div>