<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <tbody *ngFor="let perfil of perfil">
      <tr>
        <div>
          <img src="../../../assets/FP.jpg" alt="Foto de perfil" class="img-fluid" id="pf" />
        </div>
        <div>
          <h1>
            <td *ngIf="isLogged">
              <button class="btn" routerLink="/editpr/{{ perfil.id }}">
                <i class="bi bi-pen" style="color:#ffc107"></i>
              </button>
            </td>{{ perfil.perfil}}
          </h1>
          <h2>{{perfil.descripcion}}</h2>
        </div>
      </tr>
    </tbody>

  </div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 bio">
    <span>
      <p>Ey! Gracias por visitar mi portfolio 👾</p>
      <p>
        Mi nombre es Dalmiro, tengo 26 años y vivo en la Ciudad Autonoma de
        Buenos Aires.
      </p>
      <p>Acompañame a aprender programacion con Argentina Programa!</p>
    </span>
  </div>
</div>