#pf {
  border-radius: 100%;
  border: 10px double #cb6ce6;
  max-width: 80%;
  margin-bottom: 5px;
  box-shadow: 0px 0px 15px 0px #cb6ce6;
}

div {
  text-align: center;
}

.row {
  padding: 20px;
}

h1 {
  margin-top: 15px;
  font-family: "Stitch", "Staatliches";
  display: inline;
  text-align: center;
}



@font-face {
  font-family: "Stitch";
  src: url("../../../assets/Staatliches-Regular.ttf") format("TrueType");
}

@media (max-width: 768px) {
  #pf {
    width: 50%;
    border-radius: 100%;
  }
}

h2 {
  margin-top: -5px;
  font-style: oblique;
  font-weight: lighter;
  font-size: larger;
}

h1,
h2 {
  color: white;
}

p {
  
  
  font-weight: bolder;
  font-size: x-large;
  font-family: "WC Mano Negra Bta", sans-serif;
  color: #ffc107;
  
}

.bio {
  margin-top: 10%;
  
  
  
  
}

  td { 
  display: flex;
  justify-content: center;
  align-items: center;
  
} 

/* button {
  display: flex;

  align-items: center;
}

button:hover {
  border-color: transparent;
} */



@media (max-width: 1300px) {
  td {
    display: flex;
  justify-content: center;
  align-items: center;
  
  }

  /* button {
    display: flex;

    align-items: center;
   } */
}

@media (max-width: 768px) {
  td {
    display: flex;
  justify-content: center;
  align-items: center;
  
  }

 /* button {
    display: flex;

    align-items: center;
  /* } */
}
